## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 48
set steam_webApiKey "none"
sets tags "default, deployer, qbox"

## You MAY edit the following:
sv_licenseKey "COLOQUE_SUA_CHAVE_AQUI"
sv_hostname "Pista & Asfalto RP"
sets sv_projectName "Pista & Asfalto RP"
sets sv_projectDesc "Roleplay brasileiro focado no mundo dos carros: tuning, mecânica e oficinas"
sets locale "pt-BR" # replace with your language and location code, like en-US, pt-BR, etc
load_server_icon myLogo.png
set sv_enforceGameBuild 3258
set mysql_connection_string "mysql://root:SUA_SENHA@localhost/Qbox_B7329C?charset=utf8mb4"

# Chat config
set resources_useSystemChat true
set qbx_chat:joinMessage "^2%s entrou na cidade"
set qbx_chat:quitMessage "^1%s saiu da cidade (%s)"

# Voice config
exec voice.cfg

# Qbox config
setr qb_locale "pt-br"
setr qbx:enableBridge "true" # When true, enables the qb-core bridge for qbx_core
set qbx:enableQueue "true" # When true, enables qbx_core's built-in queue system
set qbx:bucketLockdownMode "inactive" # Sets the lockdown mode as inactive read here: https://docs.fivem.net/natives/?_0xA0F2201F
set qbx:discordLink "discord.gg/qbox" # Sets the servers discord link
set qbx:max_jobs_per_player 1 # Sets the number of jobs per player
set qbx:max_gangs_per_player 1 # Sets the number of gangs per player
set qbx:setjob_replaces "true" # When true, the SetJob function deletes the previous primary job of the player before setting the new one
set qbx:setgang_replaces "true" # When true, the SetGang function deletes the previous primary gang of the player before setting the new one
set qbx:cleanPlayerGroups "true" # When true, on server startup, the database will be checked for any groups/grades players have that are not in config files and removes them from the database if so
set qbx:allowMethodOverrides "true" # When true, enables the ability of resources to override existing methods in the player object
set qbx:disableOverrideWarning "false" # When true, disables warnings from resources overriding existing methods in the player object
setr qbx:enableVehiclePersistence "false" # When true, player vehicles marked for persistence will be respawned when deleted
setr qbx:vehiclePersistenceType "semi" # When "full", player vehicles will also be respawned after server restarts, when "semi", they will only respawn when deleted
set qbx:acknowledge "false" # When true, disables the default service message
setr qbx:enableGroupManagement "false" # When true, allows bosses to manage job/gang grades. Specifically the grade name.

# Message displayed to players in the chat after loading in
setr qbx:motd "<p style='padding: 1rem; background-color: #141517; border: 1px solid #373a40; border-radius: 0.5rem; text-align: center;'><span style='color: rgb(200, 200, 40);'>Bem-vindo à cidade!</span><br>Boa sorte na pista e respeite as regras.</p><style>span#link:hover { cursor: pointer; }</style>"

# illenium-appearance locale config
setr illenium-appearance:locale "en"

# Renewed-Weathersync config
setr weather_disablecd true

# Ox resources config
exec ox.cfg

# NPWD config
set npwd:framework "qbx"
# fill them in if you want extra phone functionality https://projecterror.dev/docs/npwd/start/installation#setting-up-camera-functionality
set SCREENSHOT_BASIC_TOKEN ""
set NPWD_AUDIO_TOKEN ""

# loadscreen config
setr loadscreen:externalShutdown true
set loadscreen:primaryColor "#f1e542"
set loadscreen:shadowColor "#1a18077f"

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure baseevents

# Qbox & Extra stuff
ensure ox_lib
ensure qbx_core
ensure ox_target
ensure [ox]
ensure [qbx]
ensure [standalone]
ensure [voice]
ensure [assets]

# Pista & Asfalto
ensure [pista]

ensure [npwd-apps]
ensure qbx_npwd
ensure npwd

## Permissions ##
add_principal identifier.fivem:2145266 group.admin #maat195
exec permissions.cfg

## Miscellaneous ##
exec misc.cfg
